---
- name: Stop grafana
  become: true
  become_user: '{{ podman_user }}'
  ansible.builtin.systemd:
    name: container-grafana.service
    state: stopped
    scope: user
  ignore_errors: true

- name: Create data volume
  become: true
  become_user: '{{ podman_user }}'
  containers.podman.podman_volume:
    state: present
    name: grafana_data

- name: Create grafana container
  become: true
  become_user: '{{ podman_user }}'
  containers.podman.podman_container:
    name: grafana
    image: docker.io/grafana/grafana-oss:latest
    state: present
    recreate: true
    volumes:
      - grafana-storage:/var/lib/grafana
    network: '{{ podman.network }}'
    env:
      GF_SERVER_ROOT_URL: '{{ caddy.grafana.domain }}'
      GF_SMTP_ENABLED: 'true'
      GF_SMTP_HOST: "{{ mail.host }}"
      GF_SMTP_USER: "{{ mail.sender }}"
      GF_SMTP_PASSWORD: "{{ mail.password }}"
      GF_SMTP_FROM_ADDRESS: "{{ mail.sender }}"
      GF_SMTP_FROM_NAME: "Grafana at {{ inventory_hostname }}"
      GF_ANALYTICS_REPORTING_ENABLED: 'false'
      GF_AUTH_ANONYMOUS_ENABLED: 'true'
      GF_AUTH_ANONYMOUS_ORG_ROLE: 'Viewer'
      GF_AUTH_ANONYMOUS_HIDE_VERSION: 'true'
    generate_systemd:
      path: '{{ podman_user_home }}/.config/systemd/user/'
      restart_policy: on-failure
      stop_timeout: 120
      names: true

- name: Ensure grafana container is started and enabled
  become: true
  become_user: '{{ podman_user }}'
  ansible.builtin.systemd:
    name: container-grafana
    enabled: true
    state: started
    daemon_reload: true
    scope: user
