[global_tags]

[[inputs.cpu]]
  interval = "10s"
  ## Whether to report per-cpu stats or not
  percpu = true
  ## Whether to report total system cpu stats or not
  totalcpu = true
  ## If true, collect raw CPU time metrics
  collect_cpu_time = false
  ## If true, compute and report the sum of all non-idle CPU states
  ## NOTE: The resulting 'time_active' field INCLUDES 'iowait'!
  report_active = false
  ## If true and the info is available then add core_id and physical_id tags
  core_tags = false

[[inputs.mem]]
  interval = "10s"

[[inputs.disk]]
  interval = "10s"

[[inputs.diskio]]
  interval = "10s"

[[inputs.net]]
  interval = "10s"

[[inputs.systemd_units]]
  interval = "10s"

[[inputs.system]]
  interval = "10s"

[[outputs.postgresql]]
  connection = "{{ postgresql.metrics.conn_url }}"
