---
- name: Stop pihole
  become: true
  ansible.builtin.systemd:
    name: container-pihole.service
    state: stopped
  ignore_errors: true

- name: Set facts
  ansible.builtin.set_fact:
    app_dir: '/etc/pihole'

- name: Create directory volumes for pihole
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - '{{ app_dir }}/etc-pihole'
    - '{{ app_dir }}/etc-dnsmasq.d'

- name: Create pihole container
  become: true
  containers.podman.podman_container:
    name: pihole
    image: docker.io/pihole/pihole:latest
    state: present
    recreate: false
    volumes:
      - '{{ app_dir }}/etc-pihole:/etc/pihole:Z'
      - '{{ app_dir }}/etc-dnsmasq.d:/etc/dnsmasq.d:Z'
    network: host
    env:
      TZ: 'Europe/Helsinki'
      FTLCONF_webserver_api_password: '{{ pihole.admin_password }}'
      FTLCONF_webserver_port: '8080'
      FTLCONF_dns_listeningMode: 'all'
    generate_systemd:
      path: '/etc/systemd/system/'
      restart_policy: on-failure
      stop_timeout: 120
      names: true

- name: Ensure pihole container is started and enabled
  become: true
  ansible.builtin.systemd:
    name: container-pihole.service
    enabled: true
    state: started
    daemon_reload: true
