---
- name: Stop timescaledb
  become: true
  become_user: '{{ podman_user }}'
  ansible.builtin.systemd:
    name: container-timescaledb.service
    state: stopped
    scope: user
  ignore_errors: true

- name: Create data volume
  become: true
  become_user: '{{ podman_user }}'
  containers.podman.podman_volume:
    state: present
    name: timescaledbha_data

- name: Create timescaledb container
  become: true
  become_user: '{{ podman_user }}'
  containers.podman.podman_container:
    name: timescaledb
    image: docker.io/timescale/timescaledb-ha:pg18
    state: present
    recreate: false
    volumes:
      - timescaledb_mount:/var/lib/timescaledb
    network: '{{ podman.network }}'
    ports:
      - 5432:5432
    env:
      POSTGRES_USER: '{{ postgresql.user }}'
      POSTGRES_PASSWORD: '{{ postgresql.password }}'
      POSTGRES_DB: '{{ postgresql.db }}'
    generate_systemd:
      path: '{{ podman_user_home }}/.config/systemd/user/'
      restart_policy: on-failure
      stop_timeout: 120
      names: true

- name: Ensure timescaledb container is started and enabled
  become: true
  become_user: '{{ podman_user }}'
  ansible.builtin.systemd:
    name: container-timescaledb
    enabled: true
    state: started
    daemon_reload: true
    scope: user
