---
- name: Set facts
  ansible.builtin.set_fact:
    src_dir: '/usr/local/src'
    repo_folder: 'temperatures'
    repo_subfolder: 'ruuvitag-httpserver'

- name: Stop ruuvi-httpserver
  become: true
  become_user: '{{ podman_user }}'
  ansible.builtin.systemd:
    name: container-ruuvitag-httpserver.service
    state: stopped
    scope: user
  ignore_errors: true

- name: Clone repository
  ansible.builtin.include_role:
    name: git_installer
  vars:
    git_repo_url: '{{ git_repositories.temperatures }}'
    git_repo_name: '{{ repo_folder }}'
    git_repo_subfolder: '{{ repo_subfolder }}'
    git_repo_destination: '{{ src_dir }}'
    git_repo_destination_owner: '{{ podman_user }}'
    git_repo_destination_group: '{{ podman_user }}'

- name: Remove .git
  become: true
  ansible.builtin.file:
    path: '{{ src_dir }}/{{ repo_subfolder }}/.git'
    state: absent

- name: Create .env
  no_log: true
  become: true
  ansible.builtin.copy:
    dest: '{{ src_dir }}/{{ repo_subfolder }}/.env'
    owner: '{{ podman_user }}'
    group: '{{ podman_user }}'
    mode: '0640'
    content: |
      POSTGRESQL_CONN_URL: {{ postgresql.docker.conn_url }}

- name: Create config.yml
  become: true
  ansible.builtin.copy:
    dest: '{{ src_dir }}/{{ repo_subfolder }}/config.yml'
    owner: '{{ podman_user }}'
    group: '{{ podman_user }}'
    mode: '0770'
    content: '{{ ruuvi.external_configuration | to_nice_yaml }}'

- name: Build the application
  become: true
  become_user: '{{ podman_user }}'
  ansible.builtin.shell: |
    CGO_ENABLED=0 GOOS=linux go build -a -o ruuvitag-httpserver main.go
  args:
    chdir: '{{ src_dir }}/{{ repo_subfolder }}'
  register: ruuvi_http_build
  changed_when: ruuvi_http_build.rc != 0

- name: Build ruuvitag-httpserver image
  become: true
  become_user: '{{ podman_user }}'
  containers.podman.podman_image:
    name: ruuvitag_httpserver
    force: true
    path: '{{ src_dir }}/{{ repo_subfolder }}'
    build:
      format: oci
      container_file: |
        FROM docker.io/{{ arch }}/alpine:latest

        WORKDIR /server

        COPY ruuvitag-httpserver /server/
        COPY .env /server/
        COPY config.yml /server/

        RUN chmod +x /server/ruuvitag-httpserver
        CMD ["./ruuvitag-httpserver"]

  register: ruuvi_http_image
  failed_when: ruuvi_http_image.image[0].Id is not defined

- name: Create ruuvitag-httpserver container
  become: true
  become_user: '{{ podman_user }}'
  containers.podman.podman_container:
    name: ruuvitag-httpserver
    image: '{{ ruuvi_http_image.image[0].Id }}'
    state: present
    recreate: true
    network: '{{ podman.network }}'
    ports:
      - '2323:1323/tcp'
    generate_systemd:
      path: '{{ podman_user_home }}/.config/systemd/user/'
      restart_policy: on-failure
      stop_timeout: 120
      names: true

- name: Ensure ruuvitag-httpserver container is started and enabled
  become: true
  become_user: '{{ podman_user }}'
  ansible.builtin.systemd:
    name: container-ruuvitag-httpserver
    enabled: true
    state: started
    daemon_reload: true
    scope: user
