---
- name: Stop postgresql
  become: true
  become_user: '{{ podman_user }}'
  ansible.builtin.systemd:
    name: container-postgresql.service
    state: stopped
    scope: user
  ignore_errors: true

- name: Create data volume
  become: true
  become_user: '{{ podman_user }}'
  containers.podman.podman_volume:
    state: present
    name: postgresql_data

- name: Create postgresql container
  become: true
  become_user: '{{ podman_user }}'
  containers.podman.podman_container:
    name: postgresql
    image: docker.io/postgres:latest
    state: present
    recreate: true
    volumes:
      - postgresql_mount:/var/lib/postgresql
    network: '{{ podman.network }}'
    ports:
      - 5432:5432
    shm_size: 128mb
    env:
      POSTGRES_USER: '{{ postgresql.user }}'
      POSTGRES_PASSWORD: '{{ postgresql.password }}'
      POSTGRES_DB: '{{ postgresql.db }}'
    generate_systemd:
      path: '{{ podman_user_home }}/.config/systemd/user/'
      restart_policy: on-failure
      stop_timeout: 120
      names: true

- name: Ensure postgresql container is started and enabled
  become: true
  become_user: '{{ podman_user }}'
  ansible.builtin.systemd:
    name: container-postgresql
    enabled: true
    state: started
    daemon_reload: true
    scope: user
